POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=6500
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=rust_sqlx
DATABASE_URL=postgresql://admin:your_password_here@localhost:6500/rust_sqlx?schema=public
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_password_here