POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=rust_sqlx
DATABASE_URL=postgres://admin:change_me@127.0.0.1:6500/rust_sqlx
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
CORS_ALLOWED_ORIGIN=http://localhost:3000
SERVER_ADDRESS=0.0.0.0:8000
RUST_LOG=info
